.microphone{
	width: 2.5rem;
	height:2.5rem;
	background-color: #ffffffe8;
	background-size: cover;
	position: fixed;
  right: 3rem;
  bottom: 4rem;
}

.listeningAnimation{
	animation: pulse 2s infinite;
	width: 2.5rem;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(224, 108, 99, 0.6);
    box-shadow: 0 0 0 0 rgba(224, 108, 99, 0.6);
    transform: scale(1);
  }
  70% {
      -moz-box-shadow: 0 0 0 14px rgba(224, 108, 99, 0);
      box-shadow: 0 0 0 14px rgba(224, 108, 99, 0);
      transform: scale(1.2);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(224, 108, 99, 0);
      box-shadow: 0 0 0 0 rgba(224, 108, 99, 0);
      transform: scale(1);
  }
}

.rounded{
	border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
}

.tab{
	background-color: #ffffff99;
	margin-bottom: -1px;
	display: block;
	padding: .5rem 1rem;
  text-decoration: none !important;
	border: 1px solid #c9c6f7bf;
}

.tab:focus, .tab:active {
  text-decoration: none !important;
  background-image: linear-gradient(to bottom, #f1eaff85 20%, #d8c7f3fa 80%);
}


.landing{
	height: 90vh;
	background-image: url('https://i.ibb.co/F7mg2BM/photo-1554260570-83dc2f46ef79-removebg-preview.png');
	background-size: contain;
	background-position: bottom;
}

.spacer{
	visibility: hidden;
}

.tagline{
	margin-top: 2rem;
	margin-bottom: 0;
	color: #634f80;
	font-size: 2rem;
	font-weight: bold;
}

.enter{
	margin-top: 0.5rem;
	color: #903bb1;
  border: 1px solid #ac90d6;
  border-radius: 5px;
  background-color: #fdf5ffe0;
  box-shadow: 7px 7px 7px -2px #c69fd6a1;
}