.yscroll{
	overflow-y: scroll;
	height: 65vh;
}

::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(200, 199, 238, 0.48);
}

.rounded{
	border-top-left-radius: 60px!important;
  border-top-right-radius: 60px!important;
  background-image: linear-gradient(to bottom, #fffffff7 20%, #ffffff08 80%);
  min-height: 80vh;
  padding-top:1px;
}