.yscroll{
	overflow-y: scroll;
	height: 62vh;
}

::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(200, 199, 238, 0.48);
}

.rounded{
	border-top-left-radius: 60px!important;
  border-top-right-radius: 60px!important;
  background-image: linear-gradient(to bottom, #fffffff7 20%, #ffffff08 80%);
  min-height: 80vh;
  padding-top:1px;
}

.record {
	width: 2.5rem;
	height:2.5rem;
	background-size: cover;
	background-color: #ffffffe8;
  background-image: url('https://image.flaticon.com/icons/svg/1361/1361730.svg');
}

.record:hover,
.record:focus {
   animation: pulse 2s infinite;
}

.recording{
	width: 3.5rem;
	height:3.5rem;
	background-size: cover;
	background-color: #ffffffe8;
  background-image: url('https://image.flaticon.com/icons/svg/1361/1361878.svg');
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(224, 108, 99, 0.6);
    box-shadow: 0 0 0 0 rgba(224, 108, 99, 0.6);
    transform: scale(1);
  }
  70% {
      -moz-box-shadow: 0 0 0 14px rgba(224, 108, 99, 0);
      box-shadow: 0 0 0 14px rgba(224, 108, 99, 0);
      transform: scale(1.2);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(224, 108, 99, 0);
      box-shadow: 0 0 0 0 rgba(224, 108, 99, 0);
      transform: scale(1);
  }
}

.audiotitle{
	width: 280px;
	text-align: start;
	color: #66639a;
}

.audioInfo{
	width: 280px;
	text-align: start;
	color: #8a8a8a;
	.trashicon{
		font-size: initial;
    color: indianred;
	}
}